.content {
    --content-width: 100rem;
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;

    @media only screen and (max-width: var(--content-width)) {
        max-width: calc(100% - 5vw);
    }
}

.narrow {
    --content-width: 75rem;
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;

    @media only screen and (max-width: var(--content-width)) {
        max-width: calc(100% - 5vw);
    }
}