.logo {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 30px;
    margin-top: 20px;

    & h1 {
        margin: 0;
        letter-spacing: 4px;
        font-size: 32px;
        font-weight: 800;
        color: #fff;
    }

    & span {
        align-self: flex-end;
        letter-spacing: 4px;
    }

    @media only screen and (max-width: 768px) {
        z-index: 1000;
        position: absolute;
        
        & h1 {
            font-size: 20px;
        }

        & span {
            font-size: 14px;
            align-self: flex-start;
        }
    }
}