.about-content {
    .about-section {
        position: absolute;
        top: 0;
        left: 33vw;
        width: 50vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 50px;

        & p {
            text-align: justify;
            text-justify: inter-word;
        }

        .buttons {
            display: flex;
            gap: 20px;
            align-self: flex-end;
            margin-top: 35px;
        }
    }

    
    @media only screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 90vw;
        margin-left: 5vw;
        overflow: hidden;

        .canvas-root {
            position: relative !important;
            width: auto !important;
            height: 40vh !important;
            margin-top: 5vh;
        }
        
        .about-section {
            position: unset;
            width: 90vw;
            height: auto;
            padding-left: 0;
            padding-right: 0;
        }
    }
}