nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    z-index: 1000;
    display: flex;

    ul {
        justify-self: flex-end;
        gap: 20px;
        display: flex;
        list-style: none;
        margin-left: auto;
        margin-right: 20px;

        & li {
            & button {
                background: transparent;
                transition: background 0.3s ease;
                border: none;

                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}
